@font-face {
  font-family: "museo-sans";
  src: url("exljbris - MuseoSans-700.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "museo-sans";
  src: url("exljbris - MuseoSans-300.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "museo-sans";
  src: url("exljbris - MuseoSans-500.woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "museo-sans", sans-serif;
  margin: 0;
  /* background: #060606; */
  color: white;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h2 {
  font-size: 56px;
  font-weight: 300;
  line-height: 64px;
}

.link-button {
  padding: 12px 32px;
  border-radius: 100px;
  font-size: 14px;
  letter-spacing: 0.16em;
  background: linear-gradient(#060606, #060606) padding-box,
    linear-gradient(to right, #00ffd3 43.66%, #00f6ff 68.56%, #b896ff 94.34%)
      border-box;
  border: 1px solid transparent;
  display: inline-block;
  font-weight: 700;
}

.link-button:hover,
.link-button:visited:hover {
  color: #060606;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #00ffd3 43.66%, #00f6ff 68.56%, #b896ff 94.34%)
      border-box;
  border: 1px solid transparent;
}

.link-button:active {
  text-decoration: none;
}

.link-button:visited {
  color: white;
}

.gradient-text {
  background-image: linear-gradient(
    to right,
    #00ffd3 43.66%,
    #00f6ff 68.56%,
    #b896ff 94.34%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 944px;
  /* display: flex; */
  margin: 0 auto;
}
/* .container {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
} */

.inner-container {
  padding-left: 168px;
}

header {
  position: sticky;
  top: 0;
  height: 96px;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid white;
  background: #060606;
}

header > div {
  width: 944px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

header a {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

header a:hover {
  color: #00f6ff;
}

header a:active {
  text-decoration: underline;
}

.tabs {
  width: 529px;
  display: flex;
  justify-content: space-between;

  margin-left: auto;
}

header .link-button {
  margin-left: 40px;
}

.overlay {
  /* height: 100%; */
  /* width: 0; */
  /* width: 100%;
  position: fixed;
  z-index: 1;
  top: 97px;
  left: 0;
  background: #060606; */
  /* background-color: rgb(0, 0, 0); */
  /* background-color: rgba(0, 0, 0, 0.9); */
  /* overflow-x: hidden; */
  height: 96px;
  display: flex;
  align-items: center;
}

.overlay-content {
  height: 100%;
  width: 0;
  /* width: 100%; */
  position: fixed;
  z-index: 1;
  top: 97px;
  left: 0;
  background: #060606;
  /* background-color: rgb(0, 0, 0); */
  /* background-color: rgba(0, 0, 0, 0.9); */
  /* overflow-x: hidden; */
  display: none;
}

.overlay:hover .overlay-content {
  width: 100%;
  display: block;
}

.overlay-content .container {
  display: flex;
  margin-top: 40px;
}

.overlay-content .container div:first-child {
  width: 400px;
}

.overlay-content .container div:first-child a {
  font-size: 32px;
  display: inline-block;
}

.overlay-content .container div:first-child a:active {
  text-decoration: underline;
}

.overlay-content .container div:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  row-gap: 24px;
}

.overlay-content .container div:nth-child(2) a {
  font-size: 24px;
  color: #00f6ff;
}

h1 {
  color: white;
  font-size: 56px;
  font-weight: 300;
}

h1 {
  font-weight: 500;
  margin-bottom: 24px;
}

h1 p {
  margin-bottom: 8px;
  font-size: 56px;
}

h1 span {
  display: inline-block;
  width: 750px;
}

/* main {
  padding-left: 168px;
  width: 1280px;
  margin: 0 auto;
} */

p a {
  font-weight: 700;
  text-decoration: underline;
}

p a:visited {
  color: white;
}

.welcome {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("blur.png");
  background-size: contain;
  background-color: #060606;
  background-position: right;
  background-repeat: no-repeat;
}

.welcome p {
  width: 750px;
}

.welcome p:last-child {
  margin-top: 16px;
}

.progress__text {
  width: 375px;
}

.progress {
  background: #060606;
  padding-top: 56px;
  padding-bottom: 16px;
}

.progress > div {
  display: flex;
  justify-content: space-between;
}

.progress__text p {
  margin-top: 24px;
}

.progress__number {
  padding-bottom: 40px;
  padding-top: 40px;
  border-top: 1px solid white;
}

.progress__number > div:first-child {
  font-size: 128px;
  font-weight: 300;
  line-height: 128px;
  display: inline-block;
}

.progress__number > div:last-child {
  font-weight: 300;
  font-size: 20px;
}

.progress__numbers {
  /* margin-left: 113px; */
}

.global-structure,
.industries {
  background: white;
  color: #060606;
  padding-top: 56px;
  padding-bottom: 56px;
}

.global-structure img {
  margin-top: 40px;
}

.industries__content {
  display: flex;
  margin-top: 40px;
  /* width: 944px; */
  justify-content: space-between;
}

.industries__industry {
  display: flex;
  flex-direction: column;
  width: 294px;
  box-sizing: border-box;
  /* flex: 0; */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #0078c2 0%, #0047ff 69.5%, #8453d2 100%) border-box;
  border: 2px solid transparent;
  padding: 24px;
  color: #060606;
  font-size: 16px;
  line-height: 24px;
}

.industries__industry h3 {
  margin-top: 12px;
  margin-bottom: 24px;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: inherit;
}

.industries__industry p {
  font-weight: 300;
  margin-bottom: 24px;
  font-size: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.industries__industry:hover {
  border: 2px solid #060606;
}

.industries__industry:hover svg {
  color: #0a68f1;
}

.slogan {
  padding-top: 80px;
  padding-bottom: 80px;
  color: black;
  background-image: url("slogan.png");
  background-size: cover;
}

.slogan p {
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.principles {
  color: #060606;
  padding-top: 56px;
  padding-bottom: 56px;
}

.principles__content {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.principles__principle {
  display: flex;
  flex-direction: column;
  width: 294px;
  box-sizing: border-box;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #0078c2 0%, #0047ff 69.5%, #8453d2 100%) border-box;
  border: 1px solid transparent;
  padding: 24px;
  font-size: 18px;
  line-height: 24px;
}

.principles__principle h3 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
}

.events {
  color: #060606;
  padding: 56px 0 56px;
}

.events__event {
  overflow: hidden;
  position: relative;
}

.events__content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.events__event div {
  width: 293px;
  height: 320px;
  filter: blur(1.7000000476837158px);
}

.events__event:nth-child(1) div {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("event1.jpg"), lightgray 50% / cover no-repeat;
  background-position: center;
}

.events__event:nth-child(2) div {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("event2.jpg"), lightgray 50% / cover no-repeat;
  background-position: center;
}

.events__event:nth-child(3) div {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("event3.jpg"), lightgray 50% / cover no-repeat;
  background-position: center;
}

.events__date {
  color: white;
  position: absolute;
  top: 24px;
  left: 24px;
  font-weight: 700;
  font-size: 16px;
}

.events__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  position: absolute;
  left: 24px;
  top: 50%;
  color: white;
  width: 245px;
  transform: translateY(-50%);
}

.events__language {
  font-weight: 300;
}

.articles {
  color: #060606;
  padding: 56px 0 56px;
}

.articles__content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.articles__article {
  width: 293px;
  color: #060606;
}

.articles__img {
  width: 100%;
  height: 192px;
  overflow: hidden;
}

.articles__img img {
  width: 100%;
  height: 100%;
}

.articles__img img:hover {
  transform: scale(1.3);
}

.articles__title {
  margin: 24px 0 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.question {
  padding: 56px 0 56px;
  color: #060606;
}

.question p {
  margin: 24px 0 24px;
}

.question .link-button {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #00ffd3 43.66%, #00f6ff 68.56%, #b896ff 94.34%)
      border-box;
  color: #060606;
}

.question .link-button:hover,
.question .link-button:visited:hover {
  background: linear-gradient(#060606, #060606) padding-box,
    linear-gradient(to right, #00ffd3 43.66%, #00f6ff 68.56%, #b896ff 94.34%)
      border-box;
  color: white;
}

.question .link-button:visited {
  /* background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #00ffd3 43.66%, #00f6ff 68.56%, #b896ff 94.34%)
      border-box; */
  color: #060606;
}

footer {
  background: #060606;
  padding: 64px 0 64px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__content div {
  width: 200px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.footer__content p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 24px 0 24px;
}

footer h4 {
  text-transform: uppercase;
  color: #00f6ff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 4px;
}

.footer__links {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__links a {
  color: white;
  text-transform: uppercase;
}

.footer__links a:hover {
  text-decoration: underline;
}

.top-button {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 64px;
  z-index: 99;
  color: white;
  border-radius: 100px;
  background: linear-gradient(rgba(64, 64, 64), rgba(64, 64, 64)) padding-box,
    linear-gradient(90deg, #00ffd3 43.66%, #00f6ff 68.56%, #b896ff 94.34%)
      border-box;
  border: 2px solid transparent;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-button svg {
  flex-shrink: 0;
}

.top-button:hover {
  color: #060606;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #00ffd3 43.66%, #00f6ff 68.56%, #b896ff 94.34%)
      border-box;
}
